<div class="container">
  <div class="row">
    <div id="alert-message" class="alert alert-success" role="alert">
      User post has been created successfully
    </div>
  </div>
  <div class="row">
    <div class="col col-md-12 col-sm-12">
      <button type="button" class="btn btn-primary">Add post</button>
      <table class="table">
        <thead class="thead-dark">
          <tr>
            <th scope="col">#</th>
            <th scope="col">First</th>
            <th scope="col">Last</th>
            <th scope="col">Handle</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">1</th>
            <td>Mark</td>
            <td>Otto</td>
            <td>@mdo</td>
          </tr>
          <tr>
            <th scope="row">2</th>
            <td>Jacob</td>
            <td>Thornton</td>
            <td>@fat</td>
          </tr>
          <tr>
            <th scope="row">3</th>
            <td>Larry</td>
            <td>the Bird</td>
            <td>@twitter</td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
  <div class="row">
    <div id="container-table" class="col col-md-12 col-sm-12">

    </div> 
  </div>
</div>