<form action="/auth/process-login" method="post">
  email:
  <input type="email" name="email" id="">
  password:
  <input type="text" name="password" id="">
  <input type="submit" value="Login">
</form>