<div class="container">
  <div class="alert alert-danger" role="alert">
    <h4 class="alert-heading">Usuario incorrecto!</h4>
    <p>Verifique el correo y la contraseña.</p>
    <hr>
    <a href="/auth/login" class="mb-0">Regresar</a>
  </div>
</div>
